:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  --light: #E7EBEE;
  --light-gray: #CFD6DD;
  --gray: #708599;
  --dark-gray: #343A40;
  --black: #151413;
  --light-blue: #3485FE;
  --dark-blue: #0152CB;
  --light-red: #DC2E3F;
  --red: #DC2E3F;
  --dark-red: #8B1824;
  --light-green: #3BCE65;
  --green: #2EB254;
  --dark-green: #21823D;
  --yellow: #F5F100;
  --container-shadow: 0px 5px 6px -1px var(--light-gray);
}

* {
  box-sizing: border-box !important;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border-radius: 1rem;
  background: var(--light-gray);
}

::-webkit-scrollbar-track {
  padding: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--bs-secondary);
}

body, html {
  min-width: 100%;
  overflow-x: hidden;
}

body, html, #app {
  min-height: 100vh;
  height: fit-content;
}

#app {
  width: 100%;
  margin: 0;
  background-color: var(--light);
}

a {
  text-decoration: none;
}

.container-shadow {
  box-shadow: var(--container-shadow);
}

.section {
  width: 100% !important;
  margin: 0;
  padding: 0.75rem 0.25rem;
  background: var(--bs-light);
  box-shadow: var(--container-shadow);
}

.w-fit-content {
  min-width: fit-content !important;
}